
@import "fontSize.css";

page {
    --home-head-bg: #426DFE;
    --default-content-bg: #F4F5F7;
    --default-font-size: var(--font-size-seven);
    --font-size-one:16rpx;
    --font-size-two:18rpx;
    --font-size-three:20rpx;
    --font-size-four:22rpx;
    --font-size-five:24rpx;
    --font-size-six:26rpx;
    --font-size-seven:28rpx;
    --font-size-eight:30rpx;
    --font-size-nine:32rpx;
    --font-size-ten:34rpx;
    --font-size-eleven:36rpx;
    --font-size-twelve:38rpx;
}

/* 透明 */
.transparency-bg {
    background-color: transparent;
}

/* 首页头部背景 */
.home-head-bg {
    background-color: var(--home-head-bg);
}

/* 头部样式 */
.home-head {
    background-color: var(--home-head-bg);
    font-size: 0;
}

/* 首页背景颜色 */
.home-content-bg {
    background-color: var(--default-content-bg);
}

/* 头部通用背景 */
.head-default-bg {
    background-color: #FFF;
}

/* 下边线 */
.line-default-bottom {
    border-bottom: 1px solid #F2F2F2;
}
