@import 'fontSize.css';
@import 'theme.scss';

page,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f6f7fb;
  font-size: 28rpx;
  color: #000;
  -webkit-font-smoothing: antialiased; /*字体进行抗锯齿处理*/
  -moz-osx-font-smoothing: grayscale; /*字体进行灰度处理*/
}

page::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 单行文字换行  */
.text_ellipsis {
  /*宽度自定义*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-break: anywhere;
  -webkit-box-orient: vertical;
}

.text_ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-break: anywhere;
  -webkit-box-orient: vertical;
}
