:root {
  /** 组件库的颜色*/
  --UI-BG-0: #f6f7fb; /** 背景颜色 */
  --primary-color: #007aff;
  --UI-BG: #fff;
  --UI-BG-1: #f7f7f7;
  --UI-BG-2: #fff;
  --UI-BG-3: #f7f7f7;
  --UI-BG-4: #4c4c4c;
  --UI-BG-5: #fff;
  --UI-FG: #000;
  --UI-FG-0: rgba(0, 0, 0, 0.9);
  --UI-FG-HALF: rgba(0, 0, 0, 0.9);
  --UI-FG-1: rgba(0, 0, 0, 0.5);
  --UI-FG-2: rgba(0, 0, 0, 0.3);
  --UI-FG-3: rgba(0, 0, 0, 0.1);
  --UI-BLUE: #196cff;
  /** 字体大小 */
  --font-size-14ml: 14rpx;
  --font-size-20ml: 20rpx;
  --font-size-22xs: 22rpx;
  --font-size-24sm: 24rpx;
  --font-size-26tiny: 26rpx;
  --font-size-28base: 28rpx;
  --font-size-30lg: 30rpx;
  --font-size-32xl: 32rpx;
  --font-size-34xl: 34rpx;
  --font-size-36xl: 36rpx;
  --font-size-38xl: 38rpx;
  --font-size-40xl: 40rpx;
  --font-size-42xl: 42rpx;
  --font-size-44xl: 44rpx;
}
